
こんにちは, <%= @user.name %>

<p>===============================================</p>
 
<p>パスワードのリセットをリクエストしました。</p>

<p>新しいパスワードを選択するには、次のリンクをクリックしてください: </p>

<p><a href="<%= @url %>"><%= @url %></a></p>

