<% @users.each do |user| %>
  <li class="list-group-item list-group-item-action" role="option" data-autocomplete-value="<%= user.id %>" data-autocomplete-label="<%= user.name %>">
    <%= user.name %>
  </li>
<% end %>