<% content_for(:title, t('.title')) %>
<div class="container-fluid">
  <%=  line_chart  @chart_data, round: 2, suffix: "g",library: { scales: { x: { type: 'time', time: { displayFormats: { day: 'yyyy/mm/dd' } } } } } %>

  <div class="total_alcohol text-center mt-5">
    <% @tortal_alcohol.each do |tortal_alcohol| %>
    今月の純アルコール量<%= tortal_alcohol.total_quantity.to_i %>g
    <% end %>
  </div>

  <% if @category_totals.present? %>
    <div class="category_total">
      <h5 class="text-center mt-5">カテゴリー別</h5>
      <div class="d-flex justify-content-center">
        <%= render "users/category", category_totals: @category_totals %>
      </div>
    </div>
  <% end %>
</div>
