<%=  line_chart  @chart_data, round: 2, suffix: "g",library: { scales: { x: { type: 'time', time: { displayFormats: { day: 'yyyy/mm/dd' } } } } } %>

<div>
  今月の純アルコール量<%= @tortal_alcohol%>g

</div>


<div>
  <% @category_totals.each do |name,amount| %>
  <tr>
    <td><%= "#{name}" %></td>
    <td><%= "#{amount}" %></td>
  </tr>
  <% end %>
</div>
