<footer class="footer mt-auto py-4 bg-body-tertiary bg-info-subtle sticky-bottom">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to t('.privacy'), privacy_path , class: "text-decoration-none text-dark"%>
      </div>
      <div class="col-auto">
        <%= link_to t('.terms_of_service'), rule_path, class: "text-decoration-none text-dark"%>
      </div>
    </div>
  </div>
</footer>