<footer class="text-dark py-5" style="background-color: #e3f2fd;">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-auto">
        <%= link_to "プライバシーポリシー", "#", class: "text-decoration-none text-dark"%>
      </div>
      <div class="col-auto">
        <%= link_to "利用規約", "#", class: "text-decoration-none text-dark"%>
      </div>
    </div>
  </div>
</footer>