<% content_for(:title, t('.title')) %>
<div class="container-fluid">
  <%= month_calendar do |date| %>
    <% if current_user.records.exists?(date: date) %>
        <%= link_to date.day, new_record_path(selected_date: date), class: "day_#{date}   text-decoration-none"%>
        <div><i class="fa-solid fa-champagne-glasses"></i></div>
      <% else %>
        <%= link_to date.day, new_record_path(selected_date: date), class: "day_#{date} text-decoration-none"  %>
    <% end %>
  <% end %>
</div>
